@model ChangeProfileImageViewModel
@{
    ViewData["Title"] = "ChangeProfileImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Resmini Değiştir</title>
    <link href="~/css/UpdateImageForm.css?v=1.3" rel="stylesheet" />
    <script src="~/js/userImageUpdate.js"></script>
</head>
<body>
    <div class="form-container">
        <h2>Profil Resmini Değiştir</h2>
        <br />
        <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
        <br />
        <form method="post">
            <div class="form-group">
                <label for="currentProfileImage">Mevcut Profil Resminiz:</label>
                <div class="img-container"></div>
                <img id="current-profile-image" src="data:image/jpg;base64,@Convert.ToBase64String(Model.GetAllUniverseImageResponses.FirstOrDefault(x => x.Id == Model.SelectedImageId)?.ImageURL)" alt="Mevcut Profil Resmi" class="img-thumbnail" />
            </div>
            <div class="form-group">
                <label for="profileImage">Yeni Profil Resmi Seç:</label>
                <input type="hidden" id="SelectedImageId" name="SelectedImageId" value="@Model.SelectedImageId" />
                <button id="select-image-button" type="button" class="btn btn-secondary" onclick="showImageGallery()">Profil Resmi Seç</button>
                <span asp-validation-for="SelectedImageId" class="text-danger"></span>
                <div id="image-gallery-container" style="display: none;">
                    <div id="image-gallery">
                        @foreach (var image in Model.GetAllUniverseImageResponses)
                        {
                            var base64Image = Convert.ToBase64String(image.ImageURL);
                            <div class="image-item" data-id="@image.Id" onclick="selectImage(@image.Id, 'data:image/jpg;base64,@base64Image')">
                                <img src="data:image/jpg;base64,@base64Image" alt="Image" class="img-thumbnail selectable-image" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="change-image-button">Değiştir</button>
            </div>
        </form>
    </div>
</body>
</html>


