@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Değiştir</title>
    <link href="~/css/UpdateUserForm.css?v=1.0" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <h2>Şifre Değiştir</h2>
        <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="success-message">
                @ViewBag.SuccessMessage
            </div>
        }
        <form method="post">
            <div class="form-group">
                <label asp-for="CurrentPassword">Mevcut Şifre</label>
                <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="Mevcut Şifre" required />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Yeni Şifre</label>
                <input type="password" asp-for="NewPassword" class="form-control" placeholder="Yeni Şifre" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword">Yeni Şifre Tekrar</label>
                <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="Yeni Şifre Tekrar" required />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
            </div>
        </form>
    </div>
</body>
</html>
