 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <a href="/DataManagement/DefaultImages"
       class="bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg hover:from-blue-700 hover:to-blue-900 hover:shadow-2xl transform hover:scale-105 transition-all duration-300">
        Kullanıcı Görsellerini Yönet
    </a>
</div>
