<aside class="bg-gray-900 text-white w-64 min-h-screen flex-shrink-0 shadow-lg">
    <nav>
        <ul class="space-y-2">
            <li class="border-b border-gray-700">
                <a href="/dashboard" class="flex items-center space-x-2 py-3 px-4 hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h6v6H3zM15 3h6v6h-6zM3 15h6v6H3zM15 15h6v6h-6z" />
                    </svg>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="border-b border-gray-700">
                <a href="/usermanagement" class="flex items-center space-x-2 py-3 px-4 hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4m0 0l4 4m-4-4v12" />
                    </svg>
                    <span>Kullanıcı Yönetimi</span>
                </a>
            </li>
            <li class="border-b border-gray-700">
                <a href="/roles" class="flex items-center space-x-2 py-3 px-4 hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 3v6.75M14.25 21v-6.75M3 9.75h6.75M21 14.25h-6.75" />
                    </svg>
                    <span>Roller</span>
                </a>
            </li>
            <li class="border-b border-gray-700">
                <a href="/logs" class="flex items-center space-x-2 py-3 px-4 hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 7.89a2 2 0 002.83 0L21 8m-6-6l-3 3-3-3m6 6v6a2 2 0 002 2h2a2 2 0 002-2v-6" />
                    </svg>
                    <span>Log Yönetimi</span>
                </a>
            </li>
            <li class="border-b border-gray-700">
                <a href="/datamanagement" class="flex items-center space-x-3 py-3 px-4 hover:bg-gray-700 hover:shadow-md">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                    <span class="font-semibold text-gray-200">Veri Yönetimi</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
