@model CreateAppUserRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Kullanıcı</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/css/registerform.css" rel="stylesheet" />
</head>
<body>
    <div class="form-container">
        <h2>Yeni Kullanıcı</h2>
        <br />
        <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
        <br />
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Surname"></label>
                    <input type="text" asp-for="Surname" class="form-control" placeholder="Surname" required />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" class="form-control" placeholder="Username" required />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ImageUrl"></label>
                    <input type="text" asp-for="ImageUrl" class="form-control" placeholder="Image" required />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="City"></label>
                    <input type="text" asp-for="City" class="form-control" placeholder="City" required />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="District"></label>
                    <input type="text" asp-for="District" class="form-control" placeholder="District" required />
                    <span asp-validation-for="District" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" class="form-control" placeholder="E-Mail" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Repeat Password" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" value="true" />
                <label class="form-check-label" for="rememberMe">Remember Me</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
